body {
  min-height: 100vh;
}
main{
    width: 60%;
    margin: 2em auto;
    padding: 2em;
}
footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0;
}
footer ul li a{
    padding: 1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    transition: 100ms;
}
footer ul li a:hover{
    color: white;
}

footer{
    width: 100%;
    background: #1D955D;
    color: black;
    display: grid;
    place-items: center;
    padding: 0.5em;
    font-size: 1.2rem;
    margin-bottom: auto 0;

}

header {
  background: #1D955D;
}


.sticky {
  position: sticky;
  top: 100%;
}
